<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Note:</b>
  <%= @task.note %>
</p>

<p>
  <b>Type:</b>
  <%= @task.type %>
</p>

<p>
  <b>Time:</b>
  <%= @task.time %>
</p>

<p>
  <b>Challenge:</b>
  <%= @task.challenge %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
